# Ignore everything by default:
*

# Whitelist by file extension...
!**/
!*.ts
!*.tsx
!*.js
!*.json
!*.css
!*.scss
!*.html

# Override and explicitly ignore...
**/node_modules/
**/build/
**/dist/
devbox.json
.devbox
